<!doctype html>
<html lang="en">
<head>
    <title>artctrl post</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <!-- multistep form -->
    <h1>create blog post</h1>

            <form method="POST">
              <fieldset>
                <legend>Create blogpost:</legend>
                  blog path: <input type="text" name="blogpath"><br>
                  blog name: <input type="text" name="blogname"><br>
                  postname: <input type="text" name="postname"><br>
                  posttag: <input type="text" name="posttag"><br>
                  imgpath: <input type="text" name="imgpath"><br>
                  <input type="submit" value="Submit"><br>
                  </fieldset>


    </form>
</body>
</html>
